 
/*! by canonical.site | 2017 */

@import "lib/normalize.less";
@import "lib/owl.carusel.less"; 
@import "lib/dropdown.less"; 

@import "fonts.less";
@import "grid.less"; 
@import "global.less";
//@import "media.less"; 

@font-ultralight: 100;
@font-thin: 200;
@font-light: 300;
@font-roman: 400;
@font-medium: 500;